@import url('https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Josefin+Sans');

$font-title: 'Fjalla One';
$font-subtitle: 'Josefin Sans';
$font-txt: 'Abel';

$clr-primary:  #2369A5;
$clr-secondary: #FB1B7D;
$clr-tertiary: #53606E;
$clr-txt: #272727;
$clr-bg: #F1F1F1;

$tab-width: 40px;
$max-tabs: 10;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    background: $clr-bg;
    color: $clr-txt;
    font-family: $font-txt, Arial, Helvetica, sans-serif;
}


// Mobile First -- portrait mode
// Header

header {
    background: $clr-primary;
    padding-top: 1rem;
    background: $clr-primary;
  width: 100vw;
  height: auto;
  position: relative;
}

h1 {
    text-align: center;
    font-family: $font-title, Arial, Helvetica, sans-serif;
    color: $clr-bg;
    text-shadow: 0 1px 1px lighten($clr-txt, 15%);
}

nav {
    position: relative;
    text-align: center;
    background: $clr-primary;
    width: 100%;
    line-height: 1rem;
    box-shadow: 0 3px 2px darken($clr-primary, 10%);
}

.menu {
    display: inline-block;
    font-family: $font-subtitle, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $clr-bg;
    padding-top: 1em;
    // padding-bottom: 1em;

    a {
        clear: left;
        text-decoration: none;
        color: $clr-bg;
        margin: 0 .5em;
    }
}

nav > label {
    font-size: 1.2rem;
    color: $clr-bg;
    margin: 0 0 0 1rem;
    line-height: 1rem;
    display: none;
    width: 1rem;
    position: relative;
    top: -1.5rem;
}

#toggle {
    display: none;
}



// main
main {
    position: relative;
    top: 4.5rem;

    ul {
        list-style: none;
    }
}

// hide the <input> type='radio' -- checkbox
input[type='radio'] {
    position: absolute;
    top: -999999px;
    left: -999999px;
}

// horizontal .labels
.labels {
    display: block;
    width: 100vw;
    height: $tab-width;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: $tab-width;
    background: $clr-tertiary;

    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    -ms-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
}

li:nth-child(even) > input + label {
    background: lighten($clr-tertiary, 15%);
}

.labels:hover, li:nth-child(even) > input + label:hover {
    background: $clr-primary;
    color: $clr-bg;
    cursor: pointer;
}

input[type='radio']:checked ~ .labels {
    background: $clr-secondary;
    color: lighten($clr-txt, 10%);
    cursor: default !important;
}

// sliders
.accordionSlide {
    display: block;
    height: 0;
    width: 100vw;
    overflow-y: scroll;
    font-size: 12px;
    line-height: 1.1;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

input[type='radio']:not(:checked) ~ label > * {
    position: relative;
    font-size: 1.2em;
    white-space: nowrap;
}

input[type='radio']:checked ~ label > * {
    display: none;
}

@for $i from 2 through $max-tabs {
    @for $j from 1 through $i {
        li:nth-child(#{$j}):nth-last-child(#{$i - $j + 1}) input[type='radio']:checked ~ .accordionSlide {
            height: calc(100% - #{$i * $tab-width});
        }
    }
}

// .demo styling
.demo {
    margin: 1rem auto;
    max-width: 100vw;
    height: auto;
}

h2 {
    text-align: center;
    font-family: $font-subtitle, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.demo > p {
    text-align: justify;
    font-size: 1.2rem;
    margin: 1rem;
}

.pen {
    max-width: 85%;
    height: auto;
    margin: 10px auto;
}

.clear {
    clear: both;
}

// footer
footer {
    position: relative;
    transform: translateY(160%);
    display: block;
    background: darken($clr-txt, 8%);
    padding: 1rem;
    z-index: 10;

    p {
        text-align: center;
        font-size: 13px;
        color: darken($clr-bg, 5%);
    }
}

@supports (display: grid) {
    html, body {
        height: 100%;
        width: 100%;
    }
    body {
        display: grid;
        grid-template-rows: auto;
        align-content: end;
    }
    article {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
      }
    header {
        align-content: center;
    }
    main {
        display: grid;
    }
    nav {
        display: gird;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .menu {
        display: none;

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid darken($clr-primary, 10%);
        }
    }
    footer {
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        align-self: end;
    }
}

// media query for desktop & laptop
